## Truncate DB

In [2]:
import psycopg2
from sqlalchemy import create_engine
import geopandas as gpd
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.animation as animation
import numpy as np
import time
import random
import plotly.express as px
import datetime
from datetime import datetime, date, time, timezone, timedelta

In [3]:

from __my_functions_clearance_time import get_data_for_clearancetime

In [4]:
modelnr = 22

# #name Omnitrans model
model_name = f'ot_denhelder_working_v{modelnr}_3uikdbbcec'

## connection to postgis DB
alchemyEngine = create_engine(f'postgresql+psycopg2://postgres:postgres@localhost:5432/{model_name}')  
postgreSQLConnection = alchemyEngine.connect();

##  psycopg2 connection to postgis DB
conn = psycopg2.connect(database= model_name,user='postgres', password='postgres', host='localhost', port= '5432')
conn.autocommit = True
cursor = conn.cursor()

--------------------

In [5]:
# scenario_name = 'scen2_napiek' 
scenario_name = 'scen1_voorpiek' 
result_in = 101

#------------------------------------------------------------
user_in = 1
iteration_in = 5

if scenario_name == 'scen1_voorpiek':
    flood = 1
    variant_name = 'scen1_controllers'
    
elif scenario_name == 'scen2_napiek':
    flood = 2
    variant_name = 'scen2_controllers'
    
elif scenario_name == 'test':
    flood = 3
    variant_name = 'testvariant'
    scenario = 'test'
#-------------------------------------------------------------

In [5]:
#     sql = f"""UPDATE {variant_name}.control3data1 \
#                 SET controlproperties = '{config_1_changed}' \
#                 WHERE controlnr = {controlnr}"""
#     cursor.execute(sql)

---------------------

## truncate link data - kan niet terwijl verbinding db er is

In [6]:
# sql = f""""TRUNCATE TABLE {variant_name}.link5_2data1 \
#         WHERE result = {result_in}\
#         AND user = {user_in}\
#         AND iteration = {iteration_in}"""
    
# cursor.execute(sql)

-----------------------

## delete values from DB

#### check data

In [8]:
link_df, link_io_flow_df, linknr_connectors = get_data_for_clearancetime(
                        variant_name, 
                        user_in, 
                        result_in, 
                        iteration_in, 
                        postgreSQLConnection, 
                        alchemyEngine)

variant name: scen1_controllers
result in: 101
first timestep: nan
last timestep: nan

In [19]:
# link_df[link_df.linknr == 1804].load.plot()

In [9]:
## check if both empty
print(len(link_df))
print(len(link_io_flow_df))

NameError: name 'link_df' is not defined

In [6]:
sql = f"DELETE FROM {variant_name}.link5_2data1 as a\
        WHERE a.result = {result_in}\
        AND a.user = {user_in}\
        AND a.iteration = {iteration_in}"
    
cursor.execute(sql)

In [7]:
sql = f"DELETE FROM {variant_name}.link5_1data3 as a\
        WHERE a.result = {result_in}\
        AND a.user = {user_in}\
        AND a.iteration = {iteration_in}"
    
cursor.execute(sql)