In [1]:
import psycopg2
from sqlalchemy import create_engine
import geopandas as gpd
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.animation as animation
import numpy as np
import time
import random
import plotly.express as px
from datetime import timedelta, datetime, tzinfo, timezone,  time
from matplotlib.dates import DateFormatter
import matplotlib.dates as mdates

In [2]:
general_path = 'E:/paper2_analysis/traffic_analysis/Omnitrans_denHelder'
figures_path = f'{general_path}/figures'
input_path = f'{general_path}/input'
output_path = f'{general_path}/output'

In [3]:
# #name Omnitrans model
model_name = 'ot_denhelder_working_v20_w924wner6v'

#name Omnitrans model
# model_name = 'ot_denhelder_testmodel_6nxa8b8zt0'

## connection to postgis DB
alchemyEngine = create_engine(f'postgresql+psycopg2://postgres:postgres@localhost:5432/{model_name}')  
postgreSQLConnection = alchemyEngine.connect();

------------------

In [18]:
sql_scen1 = "SELECT b.result FROM scen1_controllers.link5_2data1 as b "
sql_scen2 = "SELECT b.result FROM scen2_controllers.link5_2data1 as b "

list_results_1 = pd.read_sql_query(sql_scen1, alchemyEngine).result.unique()
list_results_2 = pd.read_sql_query(sql_scen2, alchemyEngine).result.unique()

print(f'scen1: {list_results_1}')
print(f'scen2: {list_results_2}')

scen1: [66 65 64 67]
scen2: [72 75 74 70]