In [1]:
import matplotlib
import matplotlib.pyplot as plt

import matplotlib.dates as mdates
import numpy as np
from datetime import datetime
import pandas as pd
from matplotlib.animation import FuncAnimation
import geopandas as gpd
import threedigrid
from threedigrid.admin.gridresultadmin import GridH5ResultAdmin
from threedigrid.admin.gridadmin import GridH5Admin

import uuid

In [2]:
from __my_functions_flooddepth_houses import get_time_dimensions_flood
from __my_functions_flooddepth_houses import create_df_flooddepth_houses
from __my_functions_flooddepth_houses import create_sample_houses_withinZone
from __my_functions_flooddepth_houses import calculate_first_qth_arrival_and_maxdepth
from __my_functions_flooddepth_houses import plot_flooddepth_houses_in_zone

In [5]:
general_path = 'E:\paper2_analysis/depth_arrival_zones'
figures_path = f'{general_path}/figures'
input_path = f'{general_path}/input'
output_path = f'{general_path}/output'

floodresults_path = 'E:/projecten/P2019_1_DenHelderOverstroming/data_en_modellen/modelresults'

---------------------

In [6]:
# ## flood scenario 
# scenario_name = 'scen1_voorpiek'
# simulation_name = 'lk_dh_test13_5verloop_2d'
# ## start_breach_time = '2000-01-01T18:00:00'
# start_breach_time = '2000-01-01T00:00:00'

scenario_name = 'scen2_napiek'
simulation_name = 'lk_dh_test14_5verloop_38h'
# start_breach_time = '2000-01-02T04:00:00'
start_breach_time = '2000-01-01T00:00:00'

In [7]:
## flood result files
netcdf_file = (f'{floodresults_path}/{simulation_name}/results_3di.nc')
gridadmin_file = (f'{floodresults_path}/{simulation_name}/gridadmin.h5')
gr = GridH5ResultAdmin(gridadmin_file , netcdf_file)
ga = GridH5Admin(gridadmin_file)

In [8]:
time_humanized, last_timestamp  = get_time_dimensions_flood(gr, start_breach_time)

rekentijd: 38.00862374799665 uur
aantal tijdstappen: 457
interval: 300.02, secondes = 5.0 min
 breach start time at: 2000-01-01 00:00:00

---------------------------------

In [9]:
#### testphase_calculate nr of houseshold exceeding a threshold over time
## eerst zones, dan household in these zones
df = pd.DataFrame( index = time_humanized)

In [10]:
df

Empty DataFrame
Columns: []
Index: [2000-01-01 00:00:00, 2000-01-01 00:05:10, 2000-01-01 00:10:03, 2000-01-01 00:15:04, 2000-01-01 00:20:04, 2000-01-01 00:25:04, 2000-01-01 00:30:04, 2000-01-01 00:35:04, 2000-01-01 00:40:04, 2000-01-01 00:45:04, 2000-01-01 00:50:04, 2000-01-01 00:55:04, 2000-01-01 01:00:04, 2000-01-01 01:05:04, 2000-01-01 01:10:04, 2000-01-01 01:15:04, 2000-01-01 01:20:04, 2000-01-01 01:25:04, 2000-01-01 01:30:04, 2000-01-01 01:35:04, 2000-01-01 01:40:04, 2000-01-01 01:45:04, 2000-01-01 01:50:04, 2000-01-01 01:55:04, 2000-01-01 02:00:04, 2000-01-01 02:05:04, 2000-01-01 02:10:04, 2000-01-01 02:15:04, 2000-01-01 02:20:04, 2000-01-01 02:25:04, 2000-01-01 02:30:04, 2000-01-01 02:35:04, 2000-01-01 02:40:04, 2000-01-01 02:45:04, 2000-01-01 02:50:00, 2000-01-01 02:55:01, 2000-01-01 03:00:01, 2000-01-01 03:05:00, 2000-01-01 03:10:04, 2000-01-01 03:15:04, 2000-01-01 03:20:00, 2000-01-01 03:25:02, 2000-01-01 03:30:00, 2000-01-01 03:35:02, 2000-01-01 03:40:04, 2000-01-01 03:45:00, 2000-01-01 03:50:03, 2000-01-01 03:55:00, 2000-01-01 04:00:04, 2000-01-01 04:05:03, 2000-01-01 04:10:02, 2000-01-01 04:15:02, 2000-01-01 04:20:02, 2000-01-01 04:25:02, 2000-01-01 04:30:03, 2000-01-01 04:35:04, 2000-01-01 04:40:00, 2000-01-01 04:45:02, 2000-01-01 04:50:04, 2000-01-01 04:55:01, 2000-01-01 05:00:00, 2000-01-01 05:05:05, 2000-01-01 05:10:00, 2000-01-01 05:15:04, 2000-01-01 05:20:04, 2000-01-01 05:25:04, 2000-01-01 05:30:03, 2000-01-01 05:35:03, 2000-01-01 05:40:03, 2000-01-01 05:45:03, 2000-01-01 05:50:04, 2000-01-01 05:55:00, 2000-01-01 06:00:00, 2000-01-01 06:05:04, 2000-01-01 06:10:05, 2000-01-01 06:15:05, 2000-01-01 06:20:01, 2000-01-01 06:25:02, 2000-01-01 06:30:00, 2000-01-01 06:35:01, 2000-01-01 06:40:04, 2000-01-01 06:45:04, 2000-01-01 06:50:01, 2000-01-01 06:55:06, 2000-01-01 07:00:00, 2000-01-01 07:05:05, 2000-01-01 07:10:02, 2000-01-01 07:15:02, 2000-01-01 07:20:00, 2000-01-01 07:25:05, 2000-01-01 07:30:03, 2000-01-01 07:35:04, 2000-01-01 07:40:00, 2000-01-01 07:45:03, 2000-01-01 07:50:06, 2000-01-01 07:55:00, 2000-01-01 08:00:02, 2000-01-01 08:05:01, 2000-01-01 08:10:04, 2000-01-01 08:15:00, ...]

[457 rows x 0 columns]

In [22]:
#load one zone
# zone_name = 'Huisduinen' 
zone_name = 'Breezand'
scenario_name = 'scen1_voorpiek'
df = pd.read_json(f'{output_path}/fdepth_houses_df_{scenario_name}_zone{zone_name}.json')
df.head(3)

,id_8802,id_12496,id_9320,id_5949,id_39972,id_39774,id_32719,id_12494,id_37170,id_8798,id_6002,id_37178,id_31155,id_6024,id_40010
2000-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2000-01-01 00:05:10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2000-01-01 00:10:03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
print(len(df.columns))

15