In [1]:
import psycopg2
from sqlalchemy import create_engine
import geopandas as gpd
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.animation as animation
import numpy as np
import time
import random
import plotly.express as px
from datetime import timedelta

from __future__ import print_function
from ipywidgets import interact, interactive, fixed, interact_manual
from ipywidgets import IntSlider, interact, FloatSlider
import ipywidgets as widgets

In [2]:
general_path = 'E:/paper2_analysis/traffic_analysis/Omnitrans_denHelder'
figures_path = f'{general_path}/figures'
input_path = f'{general_path}/input'
output_path = f'{general_path}/output'

In [3]:
#name Omnitrans model
model_name = 'ot_denhelder_working_v7_control_cytoo1igg4'

## alchemyEngine connection to postgis DB
alchemyEngine = create_engine(f'postgresql+psycopg2://postgres:postgres@localhost:5432/{model_name}')  
postgreSQLConnection = alchemyEngine.connect();

##  psycopg2 connection to postgis DB
conn = psycopg2.connect(database= model_name,user='postgres', password='postgres', host='localhost', port= '5432')
conn.autocommit = True
cursor = conn.cursor()

In [4]:
from __my_functions import get_links_geom
from __my_functions import get_link_data
from __my_functions import get_timesteps_plot
from __my_functions import get_time_dimensions
from __my_functions import plot_traffic_load
from __my_functions import plot_load_one_link

----------------

In [5]:
description_overall = '-'

variant_name = 'T_control'
user_in = 1
result_in = 81
iteration_in = 5
total_nr_hh = 10000
demand_zones = 'randDH'

simulation_description = f'{description_overall}__{demand_zones}_V{variant_name}-R{result_in}'
print('----------------------')
print(simulation_description)
print('----------------------')

----------------------
-__randDH_VT_control-R81
----------------------

-------------

In [6]:
link_df = get_link_data(
        variant_name = variant_name,
        user_in = user_in,
        result_in = result_in,
        iteration_in = iteration_in, 
        postgreSQLConnection= postgreSQLConnection)

first_timestep, last_timestep, time_period = get_time_dimensions(link_df)

variant name: T_control
result in: 81
first timestep: 100
last timestep: 815
first timestep: 100
last timestep: 815
simulation period: 715 minutes
simulation period: 11.916666666666666 hrs

-----------------------------

### get data from controllers

In [7]:
sql = f'SELECT * FROM public.control2object'
list_controllers = pd.read_sql_query(sql, alchemyEngine)
# list_controllers.to_csv(f'{output_path}/list_controllers.csv', header= True, sep =';', decimal=',' )
list_controllers

     controlnr  object  objecttype  objectnr  direction  ordernr  fraction
0           45       2           1      2062          2        1      0.48
1           46       2           1      2062          1        1      0.48
2           47       2           1      2061          1        1      0.48
3           48       2           1      2061          2        1      0.48
4           49       2           1      2059          2        1      0.48
..         ...     ...         ...       ...        ...      ...       ...
163        209       2           1      1585          1        1      0.48
164        210       2           1      1585          2        1      0.48
165        211       2           1      1200          2        1      0.48
166        212       2           1      1200          1        1      0.48
167        213       2           1      1935          1        1      0.48

[168 rows x 7 columns]

In [8]:
sql = f'SELECT * FROM {variant_name}.control1data1'
control_type_df = pd.read_sql_query(sql, alchemyEngine)
control_type_df.head()

   controlnr controltag                 controltype
0         45       None  STREAMLINE_LINKCHARADAPTOR
1         46       None  STREAMLINE_LINKCHARADAPTOR
2         47       None  STREAMLINE_LINKCHARADAPTOR
3         48       None  STREAMLINE_LINKCHARADAPTOR
4         53       None  STREAMLINE_LINKCHARADAPTOR

In [9]:
sql = f'SELECT * FROM {variant_name}.control3data1'
control_properties_df = pd.read_sql_query(sql, alchemyEngine)
control_properties_df.head()

   controlnr  mode  time                                  controlproperties
0        199    10    10  configuration:\n  -\n    -\n      - 10:00\n   ...
1        200    10    10  configuration:\n  -\n    -\n      - 10:00\n   ...
2        201    10    10  configuration:\n  -\n    -\n      - 10:00\n   ...
3        202    10    10  configuration:\n  -\n    -\n      - 10:00\n   ...
4        203    10    10  configuration:\n  -\n    -\n      - 10:00\n   ...

In [10]:
# #print all configs 
# for index, row in control_properties_df.iterrows():
#     controlnr = control_properties_df.controlnr[index]
#     config = control_properties_df.controlproperties[index]
#     print(controlnr)
#     print(config)

In [11]:
#get all distinct config files
all_distinct_configs = control_properties_df.controlproperties.unique()
all_distinct_configs

array(['configuration:\n  -\n    -\n      - 10:00\n      - 14:00\n    - speed: 20\n      capacityPerLane: 10\n      speedAtCapacity: 5',
       'configuration:\n  -\n    -\n      - 9:00\n      - 14:00\n    - speed: 20\n      capacityPerLane: 10\n      speedAtCapacity: 5'],
      dtype=object)

### update van controller met nieuwe configuratie - uiteindelijk nodig voor uitval moment links



#### get config voorbeeld

In [12]:
sample_controlnr = 47
configuration_controller = control_properties_df[control_properties_df.controlnr == sample_controlnr]
configuration_controller = configuration_controller.controlproperties.values[0]
configuration_controller

'configuration:\n  -\n    -\n      - 10:00\n      - 14:00\n    - speed: 20\n      capacityPerLane: 10\n      speedAtCapacity: 5'

### get controllers to update

In [13]:
controllers_selection = gpd.read_file(f'{input_path}/controllers_selection_test1.shp')
controlnrs_selection = controllers_selection.CONTROLNR.values

In [14]:
controlnrs_selection

array([ 57,  58,  59,  60,  61,  62,  63,  64,  65,  66,  67,  68,  69,
        70,  71,  72,  73,  74, 111, 112, 113, 114, 115, 116, 117, 118,
       119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 151, 152, 153,
       154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166,
       167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179,
       180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192,
       193, 194, 195, 196, 197, 198], dtype=int64)

### get linknr and corresponding arrival time

In [71]:
# get link flood arrival data
links_omni_arrival_file = 'links_omni_arrival'
links_omni_arrival = gpd.read_file(f'{input_path}/{links_omni_arrival_file}.shp')
links_omni_arrival.head(1)

,id,linknr,name,direction,length,anode,bnode,roadtypeab,roadtypeba,speedab,...,densityab,harmonicab,linktravab,linkcumuab,linkcuab_2,arrivaltim,minutes,osmid,maaiveld,geometry
0,147,255.0,None,3.0,0.901,126.0,134.0,secundair,secundair,10.0,...,NaN,NaN,NaN,NaN,NaN,2000/01/02 05:55:04.000,715.0,6616874,1.963,"POLYGON ((109518.412 537711.396, 109506.947 53..."

In [87]:
## df with only linknr and minutes
linknrs_arrival_df = links_omni_arrival[['linknr', 'minutes']]
linknrs_arrival_df = linknrs_arrival_df.dropna()
linknrs_arrival_df = linknrs_arrival_df.astype({"linknr": int})
linknrs_arrival_df = linknrs_arrival_df.astype({"minutes": int})
# linknrs_arrival_df.to_csv(f'{output_path}/linknrs_arrival_df.csv', header= True, sep =';', decimal=',' ) 

linknrs_arrival_df.head()

   linknr  minutes
0     255      715
1     255      685
2     255      700
3     255      690
4     270      710

In [134]:
len(linknrs_arrival_df)

663

In [89]:
linknrs_first_arrival_df = linknrs_arrival_df.groupby(['linknr']).min()
linknrs_first_arrival_df.head(3)

        minutes
linknr
255         685
270         710
308         675

In [135]:
len(linknrs_first_arrival_df)

273

In [118]:
## all connectors
list_controllers.head(3)

   controlnr  object  objecttype  objectnr  direction  ordernr  fraction
0         45       2           1      2062          2        1      0.48
1         46       2           1      2062          1        1      0.48
2         47       2           1      2061          1        1      0.48

In [128]:
list_controllers.loc[list_controllers.objectnr == 2001]

    controlnr  object  objecttype  objectnr  direction  ordernr  fraction
66        111       2           1      2001          2        1      0.48
67        112       2           1      2001          2        1      0.48

In [133]:
linknrs_first_arrival_df.iloc[255]

minutes    25
Name: 3005, dtype: int32

In [178]:
list_all_linknr_flood_calc = linknrs_first_arrival_df.index.values
list_all_linknr_in_controller = list_controllers.objectnr.values

linknr_in_both = list(set(list_all_linknr_flood_calc) & set(list_all_linknr_in_controller))
print(f'in flood calc: {len(list_all_linknr_flood_calc)}')
print(f'in controllers: {len(list_all_linknr_in_controller)}')
print(f'in both: {len(linknr_in_both)}')
print(linknr_in_both)

in flood calc: 273
in controllers: 168
in both: 52
[2310, 906, 1804, 2061, 2062, 2317, 1935, 1936, 2323, 2454, 663, 2327, 2330, 2080, 1829, 2471, 2090, 2093, 2222, 1200, 1585, 562, 2868, 2357, 2876, 2368, 2881, 2370, 450, 1860, 2504, 2889, 1996, 2510, 2001, 2130, 597, 2645, 2265, 2138, 2395, 3165, 2145, 2147, 2151, 2536, 620, 2286, 2166, 891, 2685, 1534]

In [180]:
 linknrs_first_arrival_df.loc[2061].minutes

175

In [235]:
rr = linknrs_first_arrival_df.loc[1936].values[0]

type(rr)

numpy.int32

In [273]:

#let op, iedere link heeft 2 controller - beide directions. 
# controller_arrival_df = list_controllers[["controlnr","objectnr"]]
# controller_arrival_df["arrivaltime"] = 9999
controller_arrival_df = pd.DataFrame()



for index, row in list_controllers.iterrows():
    controlnr = row.controlnr
    linknr = row.objectnr
    print(controlnr)
    controller_arrival_df.loc['controlnr'] = int(controlnr)
    
#     if linknr in linknr_in_both:
#         controlnr = row.controlnr
#         linknr = row.objectnr
#         arrivaltime  = linknrs_first_arrival_df.loc[linknr].values[0]
#         controller_arrival_df.loc[controller_arrival_df.controlnr == controlnr, 'arrivaltime'] = arrivaltime

45.0

ValueError: cannot set a frame with no defined columns

In [269]:
controller_arrival_df

Empty DataFrame
Columns: [controlnr]
Index: []

In [263]:
# linknr_in_both

#let op, iedere link heeft 2 controller - beide directions. 
# controller_arrival_df = list_controllers[["controlnr","objectnr"]]
controller_arrival_df = pd.DataFrame()


for i in linknr_in_both:
    linknr = i
    print(i)
    arrival_min = linknrs_first_arrival_df.iloc[linknr].minutes
    print(arrival_min)
#     controlnr = row.controlnr
#     objectnr = int(row.objectnr)
#     if objectnr in list_all_linknr_flood_calc:
#         linknr = objectnr
#         print(linknr)
# #         arrival_min = linknrs_first_arrival_df.iloc[linknr].minutes

2310

IndexError: single positional indexer is out-of-bounds

In [206]:
#let op, iedere link heeft 2 controller - beide directions. 
controller_arrival_df = pd.DataFrame(index=list_controllers.objectnr.values)

counter = 0

for index, row in list_controllers.iterrows():
    controlnr = row.controlnr
    objectnr = int(row.objectnr)
    if objectnr in list_all_linknr_flood_calc:
        linknr = objectnr
        arrival_min = linknrs_first_arrival_df.loc[linknr].minutes
#         print(arrival_min)
        controller_arrival_df.loc[controller_arrival_df["controlnr"] = control
        controller_arrival_df["arrivaltime"] = arrival_min

In [207]:
df_segments_flood.loc[df_segments_flood.segmentid == osmid, 'arrivaltime'] = arrival_time
controller_arrival_df

      controlnr  arrivaltime
213           2           40
213           2           40
450           2           40
450           2           40
562           2           40
...         ...          ...
2889          2           40
3062          2           40
3062          2           40
3165          2           40
3165          2           40

[168 rows x 2 columns]

In [205]:
df_segments_flood.loc[df_segments_flood.segmentid == osmid, 'arrivaltime'] = arrival_time

NameError: name 'arrival_time' is not defined

In [ ]:
## let op! nog niet overal een controller!! toevoegen.

In [108]:
## tabel nodig met:
# controlnr - om aan te passen
# flood arrival time 

controller_arrival_df = pd.DataFrame()

for index, row in list_controllers.iterrows():
    controlnr = row.controlnr
    linknr = int(row.objectnr)
    print(type(linknr))
    print(linknr)
#     arrival_min = linknrs_first_arrival_df.iloc[linknr].minutes
#     print(arrival_min)

<class 'int'>
2062
<class 'int'>
2062
<class 'int'>
2061
<class 'int'>
2061
<class 'int'>
2059
<class 'int'>
2059
<class 'int'>
2080
<class 'int'>
2080
<class 'int'>
1829
<class 'int'>
1829
<class 'int'>
1804
<class 'int'>
2061
<class 'int'>
2061
<class 'int'>
1804
<class 'int'>
2138
<class 'int'>
2138
<class 'int'>
2157
<class 'int'>
2157
<class 'int'>
2265
<class 'int'>
2265
<class 'int'>
2222
<class 'int'>
2222
<class 'int'>
2290
<class 'int'>
2290
<class 'int'>
2223
<class 'int'>
2223
<class 'int'>
2235
<class 'int'>
2235
<class 'int'>
2166
<class 'int'>
2166
<class 'int'>
2130
<class 'int'>
2130
<class 'int'>
2113
<class 'int'>
2113
<class 'int'>
1996
<class 'int'>
1996
<class 'int'>
1860
<class 'int'>
1860
<class 'int'>
906
<class 'int'>
906
<class 'int'>
850
<class 'int'>
850
<class 'int'>
851
<class 'int'>
851
<class 'int'>
1410
<class 'int'>
1410
<class 'int'>
1421
<class 'int'>
1421
<class 'int'>
893
<class 'int'>
893
<class 'int'>
586
<class 'int'>
586
<class 'int'>
664
<class 'int'>
562
<class 'int'>
620
<class 'int'>
620
<class 'int'>
597
<class 'int'>
597
<class 'int'>
663
<class 'int'>
663
<class 'int'>
450
<class 'int'>
450
<class 'int'>
1534
<class 'int'>
1534
<class 'int'>
2889
<class 'int'>
2889
<class 'int'>
2310
<class 'int'>
2310
<class 'int'>
2370
<class 'int'>
2370
<class 'int'>
2372
<class 'int'>
2372
<class 'int'>
2504
<class 'int'>
2504
<class 'int'>
2286
<class 'int'>
2286
<class 'int'>
2151
<class 'int'>
2151
<class 'int'>
2145
<class 'int'>
2145
<class 'int'>
2147
<class 'int'>
2147
<class 'int'>
2090
<class 'int'>
2090
<class 'int'>
2001
<class 'int'>
2001
<class 'int'>
2000
<class 'int'>
2000
<class 'int'>
2868
<class 'int'>
2868
<class 'int'>
1889
<class 'int'>
1889
<class 'int'>
1936
<class 'int'>
1936
<class 'int'>
1935
<class 'int'>
891
<class 'int'>
891
<class 'int'>
1366
<class 'int'>
1366
<class 'int'>
1379
<class 'int'>
1379
<class 'int'>
1380
<class 'int'>
1380
<class 'int'>
213
<class 'int'>
213
<class 'int'>
2323
<class 'int'>
2323
<class 'int'>
2307
<class 'int'>
2307
<class 'int'>
2357
<class 'int'>
2357
<class 'int'>
2308
<class 'int'>
2308
<class 'int'>
2309
<class 'int'>
2309
<class 'int'>
2645
<class 'int'>
2645
<class 'int'>
2536
<class 'int'>
2536
<class 'int'>
2510
<class 'int'>
2510
<class 'int'>
2559
<class 'int'>
2559
<class 'int'>
3165
<class 'int'>
3165
<class 'int'>
3062
<class 'int'>
3062
<class 'int'>
2685
<class 'int'>
2685
<class 'int'>
2454
<class 'int'>
2454
<class 'int'>
2317
<class 'int'>
2317
<class 'int'>
2441
<class 'int'>
2441
<class 'int'>
2093
<class 'int'>
2093
<class 'int'>
2395
<class 'int'>
2395
<class 'int'>
2876
<class 'int'>
2876
<class 'int'>
2330
<class 'int'>
2330
<class 'int'>
2881
<class 'int'>
2881
<class 'int'>
2296
<class 'int'>
2296
<class 'int'>
2327
<class 'int'>
2327
<class 'int'>
2471
<class 'int'>
2471
<class 'int'>
2368
<class 'int'>
2368
<class 'int'>
706
<class 'int'>
706
<class 'int'>
1041
<class 'int'>
1041
<class 'int'>
676
<class 'int'>
676
<class 'int'>
1070
<class 'int'>
1070
<class 'int'>
1208
<class 'int'>
1208
<class 'int'>
1585
<class 'int'>
1585
<class 'int'>
1200
<class 'int'>
1200
<class 'int'>
1935

In [ ]:
df_segments_flood = pd.DataFrame(columns=['segmentid', 'arrivaltime', 'minutes', 'firstdepth', 'geometry'])

In [28]:
links_omni_arrival.linknr

0       255.0
1       255.0
2       255.0
3       255.0
4       270.0
        ...
660    3253.0
661    3255.0
662    3309.0
663    3337.0
664    3340.0
Name: linknr, Length: 665, dtype: float64

In [9]:
links_omni_arrival.linknr

0       255.0
1       255.0
2       255.0
3       255.0
4       270.0
        ...
660    3253.0
661    3255.0
662    3309.0
663    3337.0
664    3340.0
Name: linknr, Length: 665, dtype: float64

### create input config- controllers

In [29]:
flood_arrival = '9:00'
end_flood = '14:00'

In [30]:
## change configuration_controller based on new input
config_1_changed = f'configuration:\n  -\n    -\n      - {flood_arrival}\n      - {end_flood}\n    - speed: 20\n      capacityPerLane: 10\n      speedAtCapacity: 5'

In [31]:
config_1_changed

'configuration:\n  -\n    -\n      - 9:00\n      - 14:00\n    - speed: 20\n      capacityPerLane: 10\n      speedAtCapacity: 5'

In [32]:
## change all linknr_in_list

for index, row in controllers_selection.iterrows():
    controlnr = row.CONTROLNR
    
    #update control config  
    sql = f"""UPDATE {variant_name}.control3data1 \
                SET controlproperties = '{config_1_changed}' \
                WHERE controlnr = {controlnr}"""
    cursor.execute(sql)

In [49]:
## controller to update
update_control_nr = 78

In [50]:
#update existing 
sql = f"""UPDATE {variant_name}.control3data1 \
                SET controlproperties = '{config_1_changed}' \
                WHERE controlnr = {update_control_nr}"""
cursor.execute(sql)

### add controller to  control type table

#### onderstaande lijkt db up te fucken.- nog checken

In [ ]:
# ## nog statement schrijven - alleen insert if values exists
# add_control_nr = 15

# ## add new controller
# sql = f"""INSERT INTO {variant_name}.control1data1 (controlnr)\
#             VALUES ({add_control_nr})"""
# cursor.execute(sql)

In [ ]:
# ## add the link adaptor to all controllers
# sql = f"""UPDATE {variant_name}.control1data1 \
#                 SET controltype = 'STREAMLINE_LINKCHARADAPTOR' \
#                 WHERE controlnr > 0"""
# cursor.execute(sql)

#### insert new controller - onduidelijk nog of dat hier kan

In [ ]:
# ## values to insert
# insert_control_nr = 38
# mode = 10
# time = 10
# controlproperties = configuration_controller

In [ ]:
# ## insert new controller
# sql = f"""INSERT INTO {variant_name}.control3data1 (controlnr, mode, time, controlproperties) \
#                 VALUES ({insert_control_nr}, {mode}, {time}, '{controlproperties}') """
# cursor.execute(sql)

In [ ]:
#check
sql = f'SELECT * FROM {variant_name}.control3data1'
control_properties_df = pd.read_sql_query(sql, alchemyEngine)
control_properties_df

### check if updated

In [37]:
sql = f'SELECT * FROM {variant_name}.control3data1'
control_properties_df = pd.read_sql_query(sql, alchemyEngine)
control_properties_df

     controlnr  mode  time                                  controlproperties
0          199    10    10  configuration:\n  -\n    -\n      - 10:00\n   ...
1          200    10    10  configuration:\n  -\n    -\n      - 10:00\n   ...
2          201    10    10  configuration:\n  -\n    -\n      - 10:00\n   ...
3          202    10    10  configuration:\n  -\n    -\n      - 10:00\n   ...
4          203    10    10  configuration:\n  -\n    -\n      - 10:00\n   ...
..         ...   ...   ...                                                ...
163        194    10    10  configuration:\n  -\n    -\n      - 9:00\n    ...
164        195    10    10  configuration:\n  -\n    -\n      - 9:00\n    ...
165        196    10    10  configuration:\n  -\n    -\n      - 9:00\n    ...
166        197    10    10  configuration:\n  -\n    -\n      - 9:00\n    ...
167        198    10    10  configuration:\n  -\n    -\n      - 9:00\n    ...

[168 rows x 4 columns]

In [38]:
sql = f'SELECT * FROM {variant_name}.control5data1 as b\
        WHERE b.result = {result_in}\
        AND b.user = {user_in}\
        AND b.iteration = {iteration_in}'

control = pd.read_sql_query(sql, alchemyEngine)
control

      controlnr  purpose  mode  time  user  result  iteration  controlactive
0            45        1    10   100     1      81          5              0
1            46        1    10   100     1      81          5              0
2            47        1    10   100     1      81          5              0
3            48        1    10   100     1      81          5              0
4            49        1    10   100     1      81          5              0
...         ...      ...   ...   ...   ...     ...        ...            ...
9499        106        1    10   815     1      81          5              0
9500        107        1    10   815     1      81          5              0
9501        108        1    10   815     1      81          5              0
9502        109        1    10   815     1      81          5              0
9503        110        1    10   815     1      81          5              0

[9504 rows x 8 columns]

In [ ]:
control[control.controlnr == 37]

## control aan of uit op tijdstap

In [39]:
sql = f'SELECT * FROM {variant_name}.control5data1 as b\
        WHERE b.result = {result_in}\
        AND b.user = {user_in}\
        AND b.iteration = {iteration_in}'

control = pd.read_sql_query(sql, alchemyEngine)
control

      controlnr  purpose  mode  time  user  result  iteration  controlactive
0            45        1    10   100     1      81          5              0
1            46        1    10   100     1      81          5              0
2            47        1    10   100     1      81          5              0
3            48        1    10   100     1      81          5              0
4            49        1    10   100     1      81          5              0
...         ...      ...   ...   ...   ...     ...        ...            ...
9499        106        1    10   815     1      81          5              0
9500        107        1    10   815     1      81          5              0
9501        108        1    10   815     1      81          5              0
9502        109        1    10   815     1      81          5              0
9503        110        1    10   815     1      81          5              0

[9504 rows x 8 columns]

In [ ]:
#list all active controllers
active_controllers = control[control.controlactive == 1].controlnr.unique()
active_controllers

In [ ]:
start_on = control[control['controlactive'] > 0]['time'].min()
ends_on = control[control['controlactive'] > 0]['time'].max()
time_interval = ends_on - start_on

print(f'starts on timstep: {start_on}')
print(f'starts after {start_on-first_timestep} minutes simulation')
print(f'ends on timestep: {ends_on}')
print(f'interval: {time_interval} minuten')

In [ ]:
fig = plt.figure(figsize=(20, 5))
ax = fig.add_subplot(1, 1, 1)
ax.plot(control['time'], control['controlactive'])

----------------

### check flow in link with test controler

In [ ]:
linknr_plot = '2061_1'
link_name = 'Langevliet'
plot_load_one_link(link_df, linknr_plot, link_name, simulation_description, figures_path )

linknr_plot = '2061_1'
link_name = 'Langevliet'
plot_load_one_link(link_df, linknr_plot, link_name, simulation_description, figures_path )


linknr_plot = '1804_2'
link_name = 'N9-zuidelijk'
plot_load_one_link(link_df, linknr_plot, link_name, simulation_description, figures_path )

#N9
linknr_plot = '1891_2'
link_name = '-'

plot_load_one_link(link_df, linknr_plot, link_name, simulation_description, figures_path )