In [9]:
import psycopg2
from sqlalchemy import create_engine
import geopandas as gpd
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.animation as animation
import numpy as np
import time
import random
import plotly.express as px

from __future__ import print_function
from ipywidgets import interact, interactive, fixed, interact_manual
from ipywidgets import IntSlider, interact, FloatSlider
import ipywidgets as widgets

from datetime import timedelta

In [10]:
general_path = 'E:/paper2_analysis/traffic_analysis/Omnitrans_denHelder'
figures_path = f'{general_path}/figures'
input_path = f'{general_path}/input'
output_path = f'{general_path}/output'

In [11]:
#name Omnitrans model
model_name = 'ot_denhelder_working_v4_ydbspirdf0'

In [12]:
## connection to postgis DB
alchemyEngine = create_engine(f'postgresql+psycopg2://postgres:postgres@localhost:5432/{model_name}')  
postgreSQLConnection = alchemyEngine.connect();

In [ ]:
## variants
initial_variant = 'initial'
T1_variant = 'T1'

-----------------------------------

### make connection with DB to update

In [ ]:
conn = psycopg2.connect(
   database="ot_denhelder_working_v4_ydbspirdf0",
    user='postgres', 
    password='postgres', 
    host='localhost', 
    port= '5432'
)

conn.autocommit = True

cursor = conn.cursor()

--------------

### INITIAL NETWORK _ DRY

In [13]:
## get link typenr
sql = 'SELECT * FROM initial.link2_1data1'
pd.read_sql_query(sql, alchemyEngine)

      linknr  serienr  direction  typenr
0          1        3          1      10
1          1        3          2      10
2          2        3          1      10
3          2        3          2      10
4          4        3          1      10
...      ...      ...        ...     ...
3809    3367        3          2       1
3810    2061        3          2      14
3811    2061        3          1      14
3812    1804        3          1      12
3813    1804        3          2      12

[3814 rows x 4 columns]

In [15]:
#link maken met flood links en linnkr


#if linknr is in flooded_links
    #then typenr - naar flooded

### select links to update

In [21]:
#one test link
linknr_update = 1804

In [31]:
list_linknrs_update = [1804, 1963, 2000, 2059, 2061]

### check current dimension on links

In [53]:
sql = 'SELECT * FROM T1.link2_1data1'
linktype_data = pd.read_sql_query(sql, alchemyEngine)
check_types = linktype_data[linktype_data.linknr.isin(list_linknrs_update)]
check_types.head(3)
check_types

      linknr  serienr  direction  typenr
3804    1804        3          1      99
3805    1804        3          2      99
3806    1963        3          1      99
3807    1963        3          2      99
3808    2000        3          1      99
3809    2000        3          2      99
3810    2059        3          1      99
3811    2059        3          2      99
3812    2061        3          1      99
3813    2061        3          2      99

In [54]:
sql = 'SELECT * FROM T1.link3_1data1'
linkdimensions = pd.read_sql_query(sql, alchemyEngine)
check_dimension = linkdimensions[linkdimensions.linknr.isin(list_linknrs_update)]
check_dimension.head(5)
# check_dimension

,linknr,mode,time,direction,speed,capacity,freespeed,satflow,speedatcap
11412,1804,10,10,1,10.0,2200.0,10.0,10.0,5.0
11413,1804,10,20,1,10.0,2200.0,10.0,10.0,5.0
11414,1804,10,1000,1,10.0,2200.0,10.0,10.0,5.0
11415,1804,10,10,2,10.0,2200.0,10.0,10.0,5.0
11416,1804,10,20,2,10.0,2200.0,10.0,10.0,5.0

-------------

### update

In [51]:
def update_linktypes(list_linknrs_update, variant):
    
    for i in list_linknrs_update:
        sql = f'UPDATE T1.link2_1data1 \
                SET typenr = 99 \
                WHERE linknr = {i}'
        cursor.execute(sql)
        
update_linktypes(list_linknrs_update, variant = 'T1')

In [52]:
def update_linkdimenions(list_linknrs_update, variant):
    
    for i in list_linknrs_update:
        sql = f'UPDATE T1.link3_1data1 \
                SET freespeed = 10, \
                satflow = 10,\
                speedatcap = 5\
                WHERE linknr = {i}'
        cursor.execute(sql)
        
update_linkdimenions(list_linknrs_update, variant = 'T1')

#### check of het is aangepast

In [48]:
sql = 'SELECT * FROM T1.link2_1data1'
linktype_data = pd.read_sql_query(sql, alchemyEngine)
linktype_data[linktype_data.linknr == linknr_update]

      linknr  serienr  direction  typenr
3810    1804        3          1      99
3811    1804        3          2      99

In [23]:
sql = 'SELECT * FROM T1.link3_1data1'
linktype_data = pd.read_sql_query(sql, alchemyEngine)
linktype_data[linktype_data.linknr == linknr_update]

,linknr,mode,time,direction,speed,capacity,freespeed,satflow,speedatcap
9,1804,10,10,1,10.0,2200.0,80.0,2000.0,65.0
10,1804,10,20,1,10.0,2200.0,80.0,2000.0,65.0
11,1804,10,1000,1,10.0,2200.0,80.0,2000.0,65.0
12,1804,10,10,2,10.0,2200.0,80.0,2000.0,65.0
13,1804,10,20,2,10.0,2200.0,80.0,2000.0,65.0
14,1804,10,1000,2,10.0,2200.0,80.0,2000.0,65.0